h2 {
    text-align: center;
}

.back {
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
}

.content {
    display: flex;

    .characteristics {
        padding: 10px;
        flex: 1;
    }

    .image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 320px;
        height: 320px;

        img {
            width: 300px;
            height: 300px;
        }
    }
}