@if (product != null) {
    <a class="back" href="/">Terug naar overzicht</a>
    <h2>{{product.title}}</h2>
    <div class="content">
        <div class="characteristics">
            <p>{{ product.description }}</p>
            <p class="price">
                <span class="bold">Prijs:</span> {{ product.price | currency: 'EUR' }}
            </p>
            <p class="storage">
                <span class="bold">Beschikbaarheid:</span> {{ product.storageAvailableAmount }} exemplaren van {{ product.storageAmount }} in opslag.
            </p>
            <app-product-cart [product]="product"></app-product-cart>
        </div>
        <div class="image">
            <img [src]="[ product.imageUrl != null ? product.imageUrl : '../../assets/placeholder.jpg' ]">
        </div>
    </div>
}
