.main {
    max-width: 1000px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    height: 100%;

    header {
        height: 70px;
        display: flex;
        align-items: center;

        a {
            text-decoration: none;
            padding: 10px;
            display: inline-block;

            h1 {
                cursor: pointer;
                margin: 0px;
            }
        }
    }

    .content {
        flex: 1;
        background: #fafafa;
    }

    footer {
        height: 26px;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}